streamlit
pandas
plotly
matplotlib
wordcloud
openpyxl
bertopic
sentence-transformers
umap-learn
hdbscan
nltk
gensim
scikit.learn
emoji
numpy
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
transformers
torch
gspread
gspread-dataframe
google-auth
scikit-learn
